{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<section>
    <div class="section-title">
        <a href="{% url 'index' %}">Home</a>
    </div>

    <h2>Hot water</h2>

    <h3>Week days</h3>
    <p>Morning 6:30 to 9:00</p>
    <p>Evening from 17:30 to 00:30</p>

    <h3>Weekends</h3>
    <p>Morning 9:30 to 12:00</p>
    <p>Evening from 17:30 to 00:30</p>

    <h2>Heating</h2>

    <h3>Week days</h3>
    <p>7:10 to 22:00</p>

    <h3>Weekends</h3>
    <p>8:30 to 23:00</p>

</section>
{% endblock content %}
