{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heartfort Foundation</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#f34113">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-config" content="main/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


</head>
<body>
    {% if messages %}
    <div class="alert">
        {% for message in messages %}
        <div{% if message.tags %} class="alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>
