{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<section>
    <div class="section-title">
        <a href="{% url 'index' %}">Home</a>
    </div>

    <h1>House appliances' manuals</h1>
    <p>
        <ul>
            <li>Air Fryer <a href="{% static 'manuals/air_fryer_instructions.pdf' %}">instructions</a> and <a href="{% static 'manuals/air_fryer_quickstart.pdf' %}">Quick start (Ninja AF100UK S5)</a>
            <li><a href="{% static 'manuals/dishwasher.pdf' %}">Dishwasher (Indesit)</a></li>
            <li><a href="{% static 'manuals/fridge_left.pdf' %}">Fridge, left (Gorenje RCI4181AWV)</a></li>
            <li><a href="https://www.telford-group.com/product/tempest-stainless">Hot water cylinder (Tempest Stainless Mains pressure domestic indirect unvented hot water cylinder)</a></li>
            <li><a href="{% static 'manuals/microwave.pdf' %}">Microwave (Beko)</a></li>
            <li><a href="{% static 'manuals/vacuum-PURE-ONE-S12-M.pdf' %}">Vacuum (Tineco Pure One S12)</a></li>
            <li><a href="{% static 'manuals/washing_machine.pdf' %}">Washing machine (Bosch Serie 6)</a></li>
        </ul>
    </p>

</section>
{% endblock content %}
