{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<section>
    <div class="section-title">
        <a href="{% url 'index' %}">Home</a>
    </div>

    <h1>Meetups</h1>

    <h2>A social foundation: imaginary, autonomy, democracy</h2>
    <p>
        An investigation into a model of social foundation. The questions we will try to face
        include definitions of deeply saturated concepts such as autonomy and democracy, as well
        as an attempt to interpret both realistic and idealistic future events via this model.
    </p>
    <p>Sunday, March 14th, 2021. Heartfort living room.</p>

</section>
{% endblock content %}
