{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>House Party</title>
    <link rel="stylesheet" href="{% static 'party-oct-2023/styles.css' %}" />
  </head>
  <body>
    <header>
      <h1>End of Summer House Party</h1>
    </header>
    <main>
      <div id="countdown"></div>
      <section id="details">
        <h2>Party Details</h2>
        <p>Date: October 20, 2023</p>
        <p>
          Time: 19:00 (<a href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NGptb2cwbm9tamJjaDBrMGRsMnN2dXNpZjQgOWppcmE3NnVkYmtuN201YzZxODliNHNpZjBAZw&tmsrc=9jira76udbkn7m5c6q89b4sif0%40group.calendar.google.com">Google calendar</a>, <a href="{% static 'party-oct-2023/invite.ics' %}">iCal</a>)
        </p>
        <p>
          Address: <a href="https://goo.gl/maps/Vrn1YQK5t29sHBV5A">64 Hertford Road, N1 5AE</a>
        </p>
      </section>
    </main>
    <footer>
      <p>See you there!</p>
    </footer>
    <script src="{% static 'party-oct-2023/script.js' %}"></script>
  </body>
</html>
