{% load static %}

<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Heart Fort Party: Ancient Greek Edition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'party-oct-2022/style.css' %}">
</head>

<body>
    <header>
        <h1>Heart Fort Party: Ancient Greek Edition</h1>
    </header>

    <section>
        <h2>Rules</h2>

    </section>

    <footer>
    </footer>

</body>
</html>
