{% load static %}

<!DOCTYPE HTML>
<html>

<head>
	<title>A HeartFort Christmas!</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'party/assets/css/main.css' %}" />
</head>

<body class="landing is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="{% url 'party' %}">Another Christmas Miracle</a> by Heart Fort</h1>
		</header>

		<!-- Banner -->
		<section id="banner">
			<h2>Christmas Party!</h2>
			<p>Come celebrate the holiday season with us</p>
			<ul class="actions special">
				<li><a href="#main" class="button primary">Don't mind if I do!</a>
			</ul>
		</section>

		<!-- Main -->
		<section id="main" class="container">

			<section class="box special">
				<header class="major">
					<h2>Naughty? Nice? No problem!
					</h2>
					<p>An inclusive party regardless of your performance during the year</p>
				</header>

			</section>

			<section class="box special features">
				<div class="features-row">
					<section>
						<span class="icon solid major fa-calendar-day accent3"></span>
						<h3>When</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
							rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
					</section>
					<section>
						<span class="icon solid major fa-tshirt accent2"></span>
						<h3>Dress Code</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
							rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
					</section>
				</div>
				<div class="features-row">
					<section>
						<span class="icon solid major fa-map-marker-alt accent4"></span>
						<h3>Address</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
							rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
					</section>
					<section>
						<span class="icon solid major fa-biohazard accent5"></span>
						<h3>Covid</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
							rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
					</section>
				</div>
			</section>

			<section class="box special">
				<header class="major">
					<h2>We can't wait to see you!
					</h2>
				</header>
				<span class="image featured"><img src="{% static 'party/images/the-office-bottles.jpg'%}" alt="" /></span>
			</section>

		</section>



		<!-- Footer -->
		<footer id="footer">
			<ul class="copyright">
				<li>&copy; The Heart Fort. All rights reserved.</li>
				<li>Made with <span class="icon fa-heart accent2"></span> by the Heart Fort IT crowd</a>
				</li>
			</ul>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="{% static 'party/assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'party/assets/js/jquery.dropotron.min.js' %}"></script>
	<script src="{% static 'party/assets/js/jquery.scrollex.min.js' %}"></script>
	<script src="{% static 'party/assets/js/browser.min.js' %}"></script>
	<script src="{% static 'party/assets/js/breakpoints.min.js' %}"></script>
	<script src="{% static 'party/assets/js/util.js' %}"></script>
	<script src="{% static 'party/assets/js/main.js' %}"></script>

</body>

</html>
