{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<section>
    <div class="section-title">
        <a href="{% url 'index' %}">Home</a>
    </div>

    <h1>Cleaning Specifications</h1>
    <p>
    <ul class="specs">
        <li>Kitchen weekly
            <ul>
                <label><input type="checkbox" />Clean dining table</label>
                <label><input type="checkbox" />Clean dishwasher filter</label>
                <label><input type="checkbox" />Clean Oven, Microwave, Stove</label>
                <label><input type="checkbox" />Clean surfaces (counter and window shelf)</label>
                <label><input type="checkbox" />Replace sponge and microfiber cloth</label>
                <label><input type="checkbox" />Wash the dish rack</label>
                <label><input type="checkbox" />Wash the towels, cloth and sponge (pour boiling water on sponge before)</label>
                <label><input type="checkbox" />Wipe cupboards</label>
            </ul>
        </li>
        <li>Living room weekly<ul>
                <label><input type="checkbox" />Clean the coffee tables and mirror</label>
                <label><input type="checkbox" />Dust TV and bookcases</label>
                <label><input type="checkbox" />Vacuum and mop floor including whole kitchen floor</label>
                <label><input type="checkbox" />Vacuum the sofas</label>
            </ul>
        </li>
        <li>WC weekly<ul>
                <label><input type="checkbox" />Add extra rolls of toilet paper</label>
                <label><input type="checkbox" />Clean shoe rack if needed</label>
                <label><input type="checkbox" />Clean toilet, sink and mirror</label>
                <label><input type="checkbox" />Dust shelf</label>
                <label><input type="checkbox" />Replace and wash towel</label>
                <label><input type="checkbox" />Vacuum and mop floor including corridor</label>
            </ul>
        </li>
        <li>Stairs weekly (Theo)<ul>
                <label><input type="checkbox" />Vacuum</label>
            </ul>
        </li>
        <li>Bins weekly (Orfeas)<ul>
                <label><input type="checkbox" />Empty bins when needed</label>
                <label><input type="checkbox" />Make sure bins are not</label>
                <label><input type="checkbox" />Put bins out for collection on the appropriate day</label>
            </ul>
        </li>
        <li>Monthly (Orfeas &amp; Theo)<ul>
                <label><input type="checkbox" />Clean the living room two windows</label>
                <label><input type="checkbox" />Wash bins</label>
            </ul>
        </li>
    </ul>
    <p>Applicable to all: vacuum spider webs if any</p>

    </p>
</section>
{% endblock %}
