{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<section>
    <div class="section-title">
        <a href="{% url 'index' %}">Home</a>
    </div>

    <h1>Cleaning Specifications</h1>
    <p>
        <ul>
            <li>Kitchen</li>
            <ul>
                <li>Every week</li>
                <li>Table cleaning</li>
                <li>Oven</li>
                <li>Microwave</li>
                <li>Stove</li>
                <li>Surfaces</li>
                <li>Underneath the dish plate rack</li>
                <li>Replace and wash the towel</li>
            </ul>

            <li>Living room</li>
            <ul>
                <li>Every week</li>
                <li>Vacuum</li>
                <li>Mopping</li>
                <li>Floor includes the whole kitchen floor too</li>
                <li>Floor includes the toilet floor too</li>
                <li>Vacuum the sofas</li>
                <li>Fluff the pillows</li>
                <li>Also clean the entrance corridor</li>
                <li>Special exemption: Zuzana does not clean the working table</li>
            </ul>

            <li>Stairs</li>
            <ul>
                <li>Once per month</li>
                <li>Vacuum</li>
            </ul>

            <li>Toilet</li>
            <ul>
                <li>Every week</li>
                <li>Wash all toilet furniture</li>
                <li>Add extra rolls of toilet paper</li>
                <li>Replace and wash towel</li>
                <li>Soap</li>
            </ul>

            <li>Bins weekly</li>
            <ul>
                <li>Every week</li>
                <li>Make sure bins are not</li>
                <li>Put bins out for collection at the appropriate day</li>
            </ul>

            <li>Bins monthly</li>
            <ul>
                <li>Wash bins</li>
            </ul>

            <li>Windows monthly</li>
            <ul>
                <li>Clean the living room two windows</li>
            </ul>
        </ul>
    </p>

</section>
{% endblock %}
