{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<section>
    <div class="section-title">
        <a href="{% url 'index' %}">Home</a>
    </div>

    <h1>Cleaning Specifications</h1>
    <p>
    <ul>
        <li>Kitchen weekly
            <ul>
                <li>Clean dining table</li>
                <li>Clean Oven, Microwave, Stove</li>
                <li>Clean surfaces (counter and window shelf)</li>
                <li>Clean dishwasher filter</li>
                <li>Wash the dish rack</li>
                <li>Wipe cupboards</li>
                <li>Wash the towels if needed</li>
            </ul>
        </li>
        <li>Living room weekly<ul>
                <li>Vacuum and mop floor including whole kitchen floor</li>
                <li>Vacuum the sofas</li>
                <li>Dust TV and bookcases</li>
                <li>Clean the coffee tables and mirror</li>
            </ul>
        </li>
        <li>WC weekly<ul>
                <li>Vacuum and mop floor including corridor</li>
                <li>Dust shelf</li>
                <li>Clean toilet, sink and mirror</li>
                <li>Add extra rulls of toilet paper</li>
                <li>Replace and wash towel</li>
                <li>Clean shoe rack if needed</li>
            </ul>
        </li>
        <li>Stairs weekly (Theo)<ul>
                <li>Vacuum</li>
            </ul>
        </li>
        <li>Bins weekly (Orfeas)<ul>
                <li>Empty bins when needed</li>
                <li>Make sure bins are not</li>
                <li>Put bins out for cullection on the appropriate day</li>
            </ul>
        </li>
        <li>Monthly (Orfeas &amp; Theo)<ul>
                <li>Wash bins</li>
                <li>Clean the living room two windows</li>
            </ul>
        </li>
    </ul>
    <p>Applicable to all: vacuum spider webs if any</p>

    </p>

</section>
{% endblock %}
