{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<section>
    <div class="section-title">
        <a href="{% url 'index' %}">Home</a>
    </div>

    <h1>WiFi</h1>
    <div>
        SSID
    </div>
    <div style="font-size: 24px;">
        <code>The Heart Fort</code>
    </div>

    <br>

    <div>
        Password
    </div>
    <div id="wifi-password" style="font-size: 24px;">
        <code>TwoToThePowerOfSix(2^6)</code>
    </div>
        <br>
    <div>
        <img src="{% static 'images/wifi.png' %}"</img>
    </div>

</section>
{% endblock content %}

{% block scripts %}
<script>
    const passwordText = document.getElementById('wifi-password');
    passwordText.addEventListener('click', function (evt) {

        const node = evt.target;
        if (document.body.createTextRange) {
            const range = document.body.createTextRange();
            range.moveToElementText(node);
            range.select();
        } else if (window.getSelection) {
            const selection = window.getSelection();
            const range = document.createRange();
            range.selectNodeContents(node);
            selection.removeAllRanges();
            selection.addRange(range);
        } else {
            console.warn("Could not select text in node: Unsupported browser.");
        }

    });
</script>
{% endblock scripts %}
